body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid #333;
}

button {
    padding: 10px;
    margin-bottom: 6px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    margin-top: 5px;
}

a {
    color: green;
    text-decoration: none;
}
